<div class="stage">
    <div class="name">Stage</div>
    <div class="title">Axxes</div>
    <div class="text">
        <p>The development of a new feature in the internal application.</p>
        <p>Axxes is an IT consultancy company that is extremely committed to the job satisfaction of their employees. That is why I and two other interns have been given the task of creating a personalized year-in-review for each employee. On this year-in-review, the employees can then see what they had done in the past year. Among other things, the various projects and events are shown here in a fun and new way.</p>
    </div>
    <ul class="tasks">
        <li>Automatically generate personal videos</li>
        <li>Spotify wrapped like year-in-review presentaion for employees</li>
    </ul>
    <ul class="skills">
        <li>React native</li>
        <li>HTML/SASS/JS</li>
        <li>Python</li>
        <li>Azure DevOps</li>
        <li>TypeScript/JavaScript</li>
        <li>Docker</li>
        <li>Presenting/Public speaking</li>
        <li>Teamwork</li>
    </ul>
    <ul class="documents">
        <li>Plan van aanpak: <a href="../download">Download</a></li>
        <li>Realisaties: <a href="../download">Download</a></li>
        <li>Verslagen: <a href="../download">Download</a></li>
        <li>Reflectie: <a href="../download">Download</a></li>
    </ul>
</div>